
/* Type: menu

   Name: 101.  */
LANGUAGE 9, 1

101 MENU
BEGIN
  POPUP "&File"
  BEGIN
    MENUITEM "&New\tCtrl+N", 9001
    MENUITEM "&Open...\tCtrl+O", 9002
    MENUITEM "&Save\tCtrl+S", 9003
    MENUITEM "Save &As...", 9004
    MENUITEM SEPARATOR
    MENUITEM "Page Set&up...", 9005
    MENUITEM "&Print...\tCtrl+P", 9006
    MENUITEM SEPARATOR
    MENUITEM "E&xit", 9007
  END
  POPUP "&Edit"
  BEGIN
    MENUITEM "&Undo\tCtrl+Z", 9101
    MENUITEM SEPARATOR
    MENUITEM "Cu&t\tCtrl+X", 9102
    MENUITEM "&Copy\tCtrl+C", 9103
    MENUITEM "&Paste\tCtrl+V", 9104
    MENUITEM "De&lete\tDel", 9105
    MENUITEM SEPARATOR
    MENUITEM "&Find...\tCtrl+F", 9106
    MENUITEM "Find &Next\tF3", 9107
    MENUITEM "&Replace...\tCtrl+H", 9108
    MENUITEM "&Go To...\tCtrl+G", 9109
    MENUITEM SEPARATOR
    MENUITEM "Select &All\tCtrl+A", 9110
    MENUITEM "Time/&Date\tF5", 9111
  END
  POPUP "F&ormat"
  BEGIN
    MENUITEM "&Word Wrap", 9201
    MENUITEM "&Font...", 9202
  END
  POPUP "&View"
  BEGIN
    MENUITEM "&Status Bar", 9301
  END
  POPUP "&Help"
  BEGIN
    MENUITEM "&About Notepad--", 9401
  END
END

/* Type: accelerators

   Name: 103.  */

103 ACCELERATORS
BEGIN
  78, 9001, VIRTKEY, CONTROL
  79, 9002, VIRTKEY, CONTROL
  83, 9003, VIRTKEY, CONTROL
  80, 9006, VIRTKEY, CONTROL
  90, 9101, VIRTKEY, CONTROL
  88, 9102, VIRTKEY, CONTROL
  67, 9103, VIRTKEY, CONTROL
  86, 9104, VIRTKEY, CONTROL
  70, 9106, VIRTKEY, CONTROL
  72, 9108, VIRTKEY, CONTROL
  71, 9109, VIRTKEY, CONTROL
  65, 9110, VIRTKEY, CONTROL
  114, 9107, VIRTKEY
  116, 9111, VIRTKEY
  46, 9105, VIRTKEY
END
